<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{372,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,128}}</string>
                <key>sourceSize</key>
                <string>{372,128}</string>
            </dict>
            <key>back_btn_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{372,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,128}}</string>
                <key>sourceSize</key>
                <string>{372,128}</string>
            </dict>
            <key>btn_high_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{372,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,128}}</string>
                <key>sourceSize</key>
                <string>{372,128}</string>
            </dict>
            <key>btn_high_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,376},{372,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,128}}</string>
                <key>sourceSize</key>
                <string>{372,128}</string>
            </dict>
            <key>btn_low_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{372,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,128}}</string>
                <key>sourceSize</key>
                <string>{372,128}</string>
            </dict>
            <key>btn_low_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{372,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,128}}</string>
                <key>sourceSize</key>
                <string>{372,128}</string>
            </dict>
            <key>btn_middle_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{372,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,128}}</string>
                <key>sourceSize</key>
                <string>{372,128}</string>
            </dict>
            <key>btn_middle_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,128}}</string>
                <key>sourceSize</key>
                <string>{372,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Btn_Res.png</string>
            <key>size</key>
            <string>{782,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17168ee47038a6010ea2791f94435d5e$</string>
            <key>textureFileName</key>
            <string>Btn_Res.png</string>
        </dict>
    </dict>
</plist>
