<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_high_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{372,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,128}}</string>
                <key>sourceSize</key>
                <string>{372,128}</string>
            </dict>
            <key>btn_high_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{372,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,128}}</string>
                <key>sourceSize</key>
                <string>{372,128}</string>
            </dict>
            <key>btn_low_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{372,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,128}}</string>
                <key>sourceSize</key>
                <string>{372,128}</string>
            </dict>
            <key>btn_low_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{372,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,128}}</string>
                <key>sourceSize</key>
                <string>{372,128}</string>
            </dict>
            <key>btn_middle_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{372,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,128}}</string>
                <key>sourceSize</key>
                <string>{372,128}</string>
            </dict>
            <key>btn_middle_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,128}}</string>
                <key>sourceSize</key>
                <string>{372,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Menu_Btn.png</string>
            <key>size</key>
            <string>{376,783}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9448cb7f9933838d725127fdfa9678c6$</string>
            <key>textureFileName</key>
            <string>Menu_Btn.png</string>
        </dict>
    </dict>
</plist>
